{{ define "main" }}
<body class="home">
  <div class="bg-gradient-tranparent-to-003">
    <div class="container position-relative">
      <div class="fedora-dotted-background">
      </div>
      <div class="row">
        <div class="col-12">
          <h1 class="font-weight-light py-4">Welcome to Freedom.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
            <h5 class="font-weight-light">Fedora creates and innovative free and open source platform for hardware, clouds, and containers that enables software developers and community members to build tailored solutions for their users</h5>
        </div>
        <div class="col-6">
            <img src="/images/fedora-workstation-laptop.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light pt-3">
  </div>
  <div class="bg-gradient-light border py-5">
    <div class="container">
      <div class="row">


        <div class="col-12 mt-5">
            <div class="d-flex flex-column h-100 p-3 bg-white rounded border editions-cutout-green">
                <div class="row">
                  <div class="col-9">
                      <img src="/images/fedora-workstation-logo.png" class="mt--2"/>
                  </div>
                  <div class="col-3 line-height-1 text-muted text-right">
                      OFFICIAL EDITION
                  </div>
                </div>
                <div class="row py-3">
                    <div class="col-10 font-weight-light">
                        Fedora Workstation is a polished, easy to use operating 
                        system for laptop and desktop computers, with a complete 
                        set of tools for developers and makers of all kinds.
                    </div>
                </div>
                <div class="row align-items-end flex-grow-1">
                    <div class="col-6 lead font-weight-normal">
                        <a href="../${lang}/workstation/download">
                          Learn more.
                        </a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="../${lang}/workstation/download" class="text-white"><i class="fa fa-2x fa-download"></i></a>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-lg-6 mt-5">
            <div class="d-flex flex-column h-100 p-3 bg-white rounded border editions-cutout-orange">
                <div class="row">
                  <div class="col-9">
                      <img src="/images/fedora-server-logo.png" class="mt--2"/>
                  </div>
                  <div class="col-3 line-height-1 text-muted text-right">
                      OFFICIAL EDITION
                  </div>
                </div>
                <div class="row py-3">
                    <div class="col-10 font-weight-light">
                        Fedora Server is a powerful, flexible operating system that includes 
                        the best and latest datacenter technologies. It puts you in control 
                        of all your infrastructure and services.
                    </div>
                </div>
                <div class="row align-items-end flex-grow-1">
                    <div class="col-6 lead font-weight-normal">
                        <a href="../${lang}/server/download">
                          Learn more.
                        </a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="../${lang}/server/download" class="text-white"><i class="fa fa-2x fa-download"></i></a>
                    </div>
                </div>
              </div>
          </div>

          <div class="col-lg-6 mt-5">
              <div class="d-flex flex-column h-100 p-3 bg-white rounded border editions-cutout-purple">
                <div class="row">
                  <div class="col-9">
                      <img src="/images/fedora-atomic-logo.png" class="mt--2"/>
                  </div>
                  <div class="col-3 line-height-1 text-muted text-right">
                      OFFICIAL EDITION
                  </div>
                </div>
                <div class="row py-3">
                    <div class="col-10 font-weight-light">
                        Fedora Atomic provides the best platform for your 
                        Linux-Docker-Kubernetes (LDK) application stack.
                    </div>
                </div>
                <div class="row align-items-end flex-grow-1">
                    <div class="col-6 lead font-weight-normal">
                        <a href="../${lang}/atomic/download">
                          Learn more.
                        </a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="../${lang}/atomic/download" class="text-white"><i class="fa fa-2x fa-download"></i></a>
                    </div>
                </div>
              </div>
            </div>
      </div> <!--row-->
    </div> <!--contatiner-->
  </div> <!-- gradient-->




  <div class="bg-gradient-dark py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-light text-center">
            <h2 class="text-uppercase font-weight-light">Developing Fedora Editions</h2>
            <p class="lead">Preview the future of Fedora.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mt-5">
              <div class="d-flex flex-column h-100 p-3 bg-white rounded editions-cutout-magenta">
                  <div class="row">
                    <div class="col-9">
                        <img src="/images/fedora-coreos-logo.png" class="mt--2"/>
                    </div>
                  </div>
                  <div class="row py-3">
                      <div class="col-10 font-weight-light">
                          Fedora Workstation is a polished, easy to use operating 
                          system for laptop and desktop computers, with a complete 
                          set of tools for developers and makers of all kinds.
                      </div>
                  </div>
                  <div class="row align-items-end flex-grow-1">
                      <div class="col-6 lead font-weight-normal">
                          <a href="../${lang}/coreos/download">
                            Learn more.
                          </a>
                      </div>
                      <div class="col-6 text-right">
                          <a href="../${lang}/coreos/download" class="text-white"><i class="fa fa-2x fa-download"></i></a>
                      </div>
                  </div>
                </div>
          </div>
  
          <div class="col-lg-4 mt-5">
              <div class="d-flex flex-column h-100 p-3 bg-white rounded editions-cutout-orange">
                  <div class="row">
                    <div class="col-9">
                        <img src="/images/fedora-server-logo.png" class="mt--2"/>
                    </div>
                  </div>
                  <div class="row py-3">
                      <div class="col-10 font-weight-light">
                          Fedora Server is a powerful, flexible operating system that includes 
                          the best and latest datacenter technologies. It puts you in control 
                          of all your infrastructure and services.
                      </div>
                  </div>
                  <div class="row align-items-end flex-grow-1">
                      <div class="col-6 lead font-weight-normal">
                          <a href="../${lang}/server/download">
                            Learn more.
                          </a>
                      </div>
                      <div class="col-6 text-right">
                          <a href="../${lang}/server/download" class="text-white"><i class="fa fa-2x fa-download"></i></a>
                      </div>
                  </div>
                </div>
            </div>
  
            <div class="col-lg-4 mt-5">
                <div class="d-flex flex-column h-100 p-3 bg-white rounded editions-cutout-purple">
                  <div class="row">
                    <div class="col-9">
                        <img src="/images/fedora-atomic-logo.png" class="mt--2"/>
                    </div>
                  </div>
                  <div class="row py-3">
                      <div class="col-10 font-weight-light">
                          Fedora Atomic provides the best platform for your 
                          Linux-Docker-Kubernetes (LDK) application stack.
                      </div>
                  </div>
                  <div class="row align-items-end flex-grow-1">
                      <div class="col-6 lead font-weight-normal">
                          <a href="../${lang}/atomic/download">
                            Learn more.
                          </a>
                      </div>
                      <div class="col-6 text-right">
                          <a href="../${lang}/atomic/download" class="text-white"><i class="fa fa-2x fa-download"></i></a>
                      </div>
                  </div>
                </div>
              </div>
        </div> <!--row-->
      </div> <!--contatiner-->
    </div> <!-- gradient-->






   <header id="head">
      <div id="product-logo-row row">
        <div class="col-sm-4 col-xs-12 productitem workstation">
          <div class="edition-logo">
          <a href="../${lang}/workstation">
            <img src="/images/ws-logo.png" />
            <h3>${_('Workstation')}</h3>
          </a>
          <a href="../${lang}/workstation/download">${_('Download Now')}</a>

          </div>
        </div>
        <div class="col-xs-12 h-caption top-margin liveusb productdesc workstation visible-xs">
            <h4>${_('Fedora Workstation is a polished, easy to use operating system for laptop and desktop computers, with a complete set of tools for developers and makers of all kinds.')}</h4>
            <p class="text-center uppercase">
              <a role="button" href="../${lang}/workstation/download" class="btn btn-edition">${_('Download now')}</a>
            </p>
        </div>
        <div class="col-sm-4 col-xs-12 productitem server">
          <div class="edition-logo">
          <a href="../${lang}/server">
            <img src="/images/server-logo-next.png" />
            <h3>${_('Server')}</h3>
          </a>
          <a href="../${lang}/server/download">${_('Download Now')}</a>
          </div>
        </div>
        <div class="col-xs-12 h-caption top-margin liveusb productdesc server visible-xs">
            <h4>${_('Fedora Server is a powerful, flexible operating system that includes the best and latest datacenter technologies. It puts you in control of all your infrastructure and services.')}</h4>
            <p class="text-center uppercase">
              <a role="button" href="../${lang}/server/download" class="btn btn-edition">${_('Download now')}</a>
            </p>
        </div>
        <div class="col-sm-4 col-xs-12 productitem atomic">
          <div class="edition-logo">
          <a href="../${lang}/atomic">
            <img src="/images/atomic-logo.png" />
            <h3>${_('Atomic')}</h3>
          </a>
          <a href="../${lang}/atomic/download">${_('Download Now')}</a>
          </div>
        </div>
        <div class="col-xs-12 h-caption top-margin productdesc cloud visible-xs">
            <h4>${_('Fedora Atomic provides the best platform for your Linux-Docker-Kubernetes (LDK) application stack.')}</h4>
            <p class="text-center uppercase bottom-space">
              <a role="button" href="../${lang}/atomic/download" class="btn btn-edition">${_('Download now')}</a>
            </p>
        </div>
      </div>

      <div class="visible-xs col-xs-12 blue-pattern-box"></div>

    </header>

    <div class="text-center grey-pattern-box top-margin">
      <div class="container-fluid">
        <div class="hidden-xs row">
        <div class="col-xs-12 col-sm-4 productdesc-spacer">
           <hr />
        </div>
        <div class="col-xs-12 col-sm-4 productdesc-spacer">
         <hr />
        </div>
        <div class="col-xs-12 col-sm-4 productdesc-spacer">
         <hr />
        </div>
        </div>
        <div class="hidden-xs row">
          <div class="col-sm-4 col-xs-12 productdesc workstation">
            <div class="h-body liveusb thin">
              <h4>${_('Fedora Workstation is a polished, easy to use operating system for laptop and desktop computers, with a complete set of tools for developers and makers of all kinds.')}</h4>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 productdesc server">
            <div class="h-body liveusb thin">
              <h4>${_('Fedora Server is a powerful, flexible operating system that includes the best and latest datacenter technologies. It puts you in control of all your infrastructure and services.')}</h4>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12 productdesc cloud">
            <div class="h-body thin">
              <h4>${_('Fedora Atomic provides the best platform for your Linux-Docker-Kubernetes (LDK) application stack.')}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
      	<div class="row">
	        <div class="col-xs-12 col-sm-3">
	            <img class="foundations" src="/images/4freedom.png" alt="freedom" />
	        </div>
	        <div class="col-xs-12 col-sm-3">
	            <img class="foundations" src="/images/4friends.png" alt="friends" />
	        </div>
	        <div class="col-xs-12 col-sm-3">
	            <img class="foundations" src="/images/4features.png" alt="features" />
	        </div>
	        <div class="col-xs-12 col-sm-3">
	            <img class="foundations" src="/images/4first.png" alt="first" />
	        </div>
    	</div>
    	<div class="row bottom-margin">
	        <div class="col-xs-12 col-sm-10 col-sm-offset-1 bottom-margin">
	            <div class="h-body text-justify">
	              <h4 class="thin">${_('Fedora is always free for anyone to use, modify, and distribute. It is built and used by people across the globe who work together as a community: the Fedora Project.')}</h4>
	            </div>
	        </div>
    	</div>
      </div>
    </div>

  <div class="col-xs-12 blue-pattern-box"></div>

  <div class="container">
  <div class="col-xs-12 col-sm-6 text-center top-space">
    <div class="row">
      <div class="col-xs-12 bottom-margin text-center">
        <h1 class="thin">${_('Want more Fedora options?')}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 bottom-margin">
      	<a href="//spins.fedoraproject.org/kde"><img class="spinsbar" src="/images/kde.png" alt="KDE" /></a>
        <a href="//spins.fedoraproject.org/xfce"><img class="spinsbar" src="/images/xfce.png" alt="Xfce" /></a>
        <a href="//spins.fedoraproject.org/cinnamon"><img class="spinsbar" src="/images/cinnamon.png" alt="Cinnamon" /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 bottom-margin">
	    <a href="//spins.fedoraproject.org/lxde"><img class="spinsbar" src="/images/lxde.png" alt="LXDE" /></a>
	    <a href="//spins.fedoraproject.org/mate-compiz"><img class="spinsbar" src="/images/mate.png" alt="MATE-Compiz" /></a>
	    <a href="//spins.fedoraproject.org/soas"><img class="spinsbar" src="/images/soas.png" alt="SoaS" /></a>
	  </div>
	</div>
	<div class="row">
      <div class="col-xs-12 bottom-margin text-center">
        <h4 class="thin">${Markup(_('The Fedora community also releases &lt;a href="https://arm.fedoraproject.org/"&gt;ARM images&lt;/a&gt;, alternate live Spins, and other variations of Fedora tailored to specific requirements. Browse them at the &lt;a href="https://spins.fedoraproject.org/"&gt;Fedora Spins&lt;/a&gt; or &lt;a href="https://labs.fedoraproject.org/"&gt;Fedora Labs&lt;/a&gt; website.'))}</h4>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center top-space">
    <div class="row">
      <div class="col-xs-12 bottom-margin text-center">
        <h1 class="thin">${Markup(_('Be connected &amp; informed.'))}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 bottom-margin">
        <a href="//fedoramagazine.org/"><img src="/images/magazine.png" alt="Fedora Magazine" /></a>
      </div>
    </div>
	<div class="row">
      <div class="col-xs-12 bottom-margin text-center">
        <h4 class="thin">${Markup(_('Want to get &lt;a href="http://whatcanidoforfedora.org/"&gt;involved&lt;/a&gt;? Find out what\'s happening in the &lt;a href="http://communityblog.fedoraproject.org/"&gt;community&lt;/a&gt;? Read up on the latest news and cool stuff at &lt;a href="http://fedoramagazine.org/"&gt;Fedora Magazine&lt;/a&gt;.'))}</h4>
      </div>
    </div>
  </div>
  </div>

  <div class="container bottom-margin">
  <div class="col-xs-12 col-sm-6 text-center top-margin">
    <div class="row">
      <div class="col-xs-12 bottom-margin text-center">
        <h1 class="thin">${_('Read the docs.')}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 bottom-margin">
      	<a href="//docs.fedoraproject.org/"><img src="/images/docs-book.png" alt="Fedora Docs" /></a>
      </div>
    </div>
	<div class="row">
      <div class="col-xs-12 bottom-space text-center">
        <h4 class="thin docslink">${Markup(_('Check out the Release Notes for detailed information on the current release. To learn more about using Fedora and details such as system requirements, see the &lt;a href="%s"&gt;&lt;strong&gt;official documentation&lt;/strong&gt;&lt;/a&gt;.') % ('https://docs.fedoraproject.org/'))}</h4>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-center top-margin">
    <div class="row">
      <div class="col-xs-12 bottom-margin text-center">
        <h1 class="thin">${_('Get help.')}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 bottom-margin">
      	<a href="//ask.fedoraproject.org/"><img src="/images/askfedora.png" alt="Ask Fedora" /></a>
      </div>
    </div>
	<div class="row">
      <div class="col-xs-12 bottom-space text-center">
        <h4 class="thin">${Markup(_('Need some help with Fedora? Check out &lt;a href="%s"&gt;Ask Fedora&lt;/a&gt;, where you can read archives of questions from other users, or ask your own question.') % ('https://ask.fedoraproject.org/'))}</h4>
      </div>
    </div>
  </div>
  </div>

</body>
{{ end }}
